<<<<<<< HEAD
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.left{
    margin-left: 50px;
}

.text{
    font-size: 13px;
    font-weight: bold;
}
.header{
    font-weight: bold;
    font-size: 12.50px;
}

.navbar{
    height: 80px;
    align-items: center;
    justify-content: center;
}

.searchtext{
    height: 40px;
    width: 300px;
}

.headlineH1{
    margin-top: 100px;
    margin-left: 25px;
    margin-bottom: 50px;
=======
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.text{
    font-size: 13px;
}


.headlineH1{
    font-size: 50px;
}
.container1{
    height: 800px;
    width: 1366px;
    background-color: #fff;
   margin-top: 25px;
   margin-bottom: 10px;
}

.col{
    margin-top: 75px;
}
.container2{
    height: 300px;
    width: 1366px;
    background-color: #fff;
   margin-top: 100px;
   margin-bottom: 50px;
}

.container3{
    height: 300px;
    width: 1366px;
    background-color: #fff;
   margin-top: 100px;
   margin-bottom: 50px;
}

.container4{
    height: 300px;
    width: 1366px;
    background-color: #fff;
   margin-top: 100px;
   margin-bottom: 50px;
>>>>>>> 08b6f1e2de020b12d983caa8bae10ba22312103f
}